:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --Primario: #ffc107;
    --Secundario: #0097a7;
    --gris: #757575;
}
html{
    font-size: 62.5%;
}
body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}
.titulo{
    text-align: center;
    font-size: 3.8rem;
}
.titulo span{
    font-size: 2rem;
}
.contenedor{
    max-width: 120rem;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}
.navegacion-principal
{
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Centra horizontalmente */
    font-weight: bold;
    font-size: 2rem;
    align-items: center;
}
.navegacion-principal a{
    padding: 1rem;
    text-decoration: none;
    color: var(--blanco);

}
.nav-bg{
    background-color: var(--Secundario);
}

.navegacion-principal a:hover{
    background-color: var(--Primario);
    color: var(--oscuro);
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
    }
}